:root {
  --c-white: #FFFDFA;
  --c-blue: #00001A;
  --c-grey: #5E607A;
  --c-red: #F15D51;
  --c-silver: #c5c6ce;
  --c-yellow: #E9AA52;

  --f-xl: #clamp (
    u.rem(40), 2.147887323943662rem + 1.5023474178403755vw, u.rem(56)
  );
  --f-l: #clamp (
    u.rem(32), 1.823943661971831rem + 0.7511737009201878vw, u.rem(40)
  );
  --f-m: u.rem(32);
  --f-s: u.rem(20);
  --f-xs: u.rem(18);
  --f-body: u.rem(15);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}


li {
  list-style: none;
}


body {
  margin: 0;
  min-height: 100svh;
  font-family: 'Inter', sans-serif;
  font-size: var(--f-body);
  line-height: 1.7;
  padding-block-end: 50vh;
}

/* Header */


header_container {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.header_logo {
  margin-left: -15px;
  cursor: pointer;

}


.header {
  display: flex;
  align-items: center;
  padding: 10px 8%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  flex-direction: row;
}


.image_1, .image_2, .image_3 {
  height: 200px;
}


.feature_image {
  width: 100%
}

.feature_button {
  display: inline-block;
  background-color: var(--c-red);
  color: var(--c-white);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.20em;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  justify-self: start;
  margin-bottom: 20px;
  margin-top: 10px;
}

.feature_title {
  text-align: center;
}

.feature_text {
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 50px;
}